@media (min-width: 768px) {
  /* ================ header with contact ===================== */
  /* not needed */
  /* ================ header- navigations ======================== */
  .header-nav .header-top-nav .nav {
    display: none;
  }
  .header-nav .header-top-nav .btn button {
    display: block;
  }
  .header-nav .header-top-nav .search {
    flex: 5;
  }
  /* =============== home page =================== */
  .home-page .back-pos .home-page-info {
    width: 450px;
  }
  /* ============== about us ================ */
  .about .about-p {
    padding: 50px 0px;
  }
  .about .about-us {
    display: flex;
    flex-direction: row;
  }
  .about .about-us .about-left img {
    height: 300px;
    width: 200px;
  }
  /*================ best services ================ */
  .best-ser .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* =============== welcome about us ================= */
  .about-uss .about-flex {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-uss .about-flex .right-content {
    padding: 0px;
  }
  .about-uss .about-flex .right-content .grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* ================== garden ===================== */
  .garden-back-image .garden-p {
    padding: 50px;
  }
  .garden-back-image .garden-content p {
    width: 90%;
  }
  .garden-back-image .garden-content h1 {
    width: 80%;
  }
}
