@media (min-width: 576px) {
  .container {
    margin-left: 30px;
    margin-right: 30px;
  }
  /* ================ header with contact ===================== */
  .header {
    display: none;
  }
  /* ================ header- navigations ======================== */
  .header-nav .header-top-nav .nav {
    display: none;
  }
  .header-nav .header-top-nav .btn button {
    display: block;
  }
  .header-nav .header-top-nav .search {
    flex: 3;
  }
  /* =============== home page =================== */
  .home-page .back-pos .home-page-info {
    width: 400px;
  }
  /* ============== about us ================ */
  .about .about-p {
    padding: 50px 0px;
  }
  .about .about-us {
    display: flex;
    flex-direction: column-reverse;
  }
  /* ============== services =============== */
  .services .ser-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0;
  }
  .services .services-p {
    padding: 20px;
  }
  /*================ best services ================ */
  .best-ser .services-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  /* ============ welcome about us ================== */
  .about-uss .about-flex {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-uss .about-flex .right-content {
    padding: 0px;
  }
  .about-uss .about-flex .right-content .grid-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about-uss .about-flex .left-image {
    display: grid;
    justify-items: center;
  }
  /* ================== garden ===================== */
  .garden-back-image .garden-p {
    padding: 50px;
  }
  .garden-back-image .garden-content p {
    width: 100%;
  }
  .garden-back-image .garden-content h1 {
    width: 100%;
  }
}
