* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  margin-left: 80px;
  margin-right: 80px;
}
/* ================ header with contact ===================== */

.header .header-contact-p {
  padding: 10px;
}
.header .header-contact-f {
  display: flex;
  justify-content: space-between;
}
.header .header-contact-f .contact-left ul {
  display: flex;
  gap: 20px;
}
.header .header-contact-f .contact-left ul a {
  color: black;
  font-weight: 700;
}
.header .header-contact-f .contact-left ul a:hover {
  color: #0abf53;
}
.header .header-contact-f .social-right {
  display: flex;
  gap: 20px;
}
.header .header-contact-f .social-right .social a {
  color: black;
  transition: 1s all ease;
}
.header .header-contact-f .social-right .social a:hover {
  color: #0abf53;
}
/* ================ header- navigations ======================== */
.header-nav {
  background-color: black;
}
.header-nav a {
  color: white;
}
.header-nav .header-nav-p {
  padding: 20px;
}
.header-nav .header-nav-p .header-top-nav {
  display: flex;
}
.header-nav .header-top-nav .logo {
  flex: 1;
}
.header-nav .header-top-nav .logo a {
  font-size: 45px;
  position: relative;
}
.header-nav .header-top-nav .logo a span {
  font-size: 35px;
}
.header-nav .header-top-nav .logo a::before {
  content: "";
  position: absolute;
  left: 45px;
  top: 21px;
  height: 5px;
  width: 36px;
  background-color: white;
  display: block;
  border-radius: 10px 0px 10px 0px;
}
.header-nav .header-top-nav .nav {
  flex: 1;
}
.header-nav .header-top-nav .nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0px;
}
.header-nav .header-top-nav .nav ul li {
  padding: 20px;
  color: white;
}
.header-nav .header-top-nav .search {
  display: flex;
  flex: 1;
  padding: 17px 0px;
  justify-content: flex-end;
}
.header-nav .header-top-nav .search .icons {
  height: 20px;
  width: 20px;
  padding: 20px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav .header-top-nav .search .icons-1 {
  color: white;
  padding: 8px;
  font-size: 18px;
}
.header-nav .header-top-nav .btn {
  flex: 1;
  padding: 17px;
  display: flex;
  justify-content: flex-end;
}
.header-nav .header-top-nav .btn button {
  display: none;
  height: 40px;
  width: 40px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}
/* =============== home page =================== */
.home-page .back-pos {
  background-image: url(images/banner1.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px;
}
.home-page .back-pos .home-page-info {
  background-color: white;
  color: black;
  height: auto;
  width: 450px;
  padding: 40px;
  border-radius: 40px 0px;
}
.home-page .back-pos .home-page-info h1 {
  font-size: 40px;
  padding-bottom: 10px;
}
.home-page .back-pos .home-page-info p {
  font-weight: 500;
  padding-bottom: 10px;
}
.home-page .back-pos .home-page-info button {
  height: 40px;
  width: 120px;
  background: green;
  border: none;
  color: white;
  font-weight: 700;
}
.home-page .back-pos .home-page-info .btn {
  display: grid;
  place-items: start;
}
/* ============== about us ================ */
.about {
}
.about .about-p {
  padding: 50px;
}
.about .about-us {
  display: flex;
}
.about .about-us .about-left {
  flex: 1;
  display: flex;
}
.about .about-us .about-left img {
  height: 400px;
  width: 280px;
  border: 5px solid white;
}
.about .about-us .about-left .img2 {
  transform: translate(-70px, 70px);
}
.about .about-us .about-right {
  flex: 1;
}
.about .about-us .about-right h5 {
  font-size: 35px;
  padding-bottom: 10px;
  font-family: Tangerine;
}
.about .about-us .about-right h5 span {
  background-color: #0abf53;
  color: white;
}
